<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Temperature and Humidity Plot</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            margin: 0;
            padding: 20px;
        }
        
        .container {
            max-width: 800px;
            margin: 0 auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>
  <div class="container"> 
    <!-- Temperature   plot view -->
        <h1>Temperature Plot</h1>
        <img src="{{ temperature_plot_path }}" alt="Temperature Plot">

    <!-- humidity      plot view --> 
        <h1>Humidity Plot</h1>
        <img src="{{ humidity_plot_path }}" alt="Humidity Plot">
  </div>
</body>
</html>
